/* selector or type selector */
/*
selector {
  property: value;
  property: value;
}
*/

mark {
background-color: #ffc;
}

ins {
  color: #ffc;
}

/* hexadecimal color: Black to White, with grayscale inbetween
0123456789abcdef
*/

/* --- class selector --- */
  .underline {
    text-decoration: underline;
  }

  .italic {
    font-style: italic;
  }

  .small-caps {
    font-variant: small-caps;
  }
  
  /*

/* class selector */
/*
.redlining {
  color:red;
} */
